
* {
  margin: 0;
  padding: 0;
}
html , body {
    background-color: rgb(253, 165, 0);
height: 100%;
}
.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.xo{
    background-color: black;
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
}
.xo .btn {
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    background-color: white;
    height: calc(33% - 6px) ;
    width: calc(33% - 6px);
    margin: 3px;
}

